<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Hotel reservation</title>
</head>

<body>
    <h1>Rooms</h1>
    <table>
        <tr>
            <th>Number</th>
            <th>Available</th>
            <th colspan="3"></th>
        </tr>
        {% for room in rooms %}
        <tr>
            <td>{{room.number}}</td>
            <td>{{room.available}}</td>
            <td><a href="{% url 'detail' room.id %}">Reserve</a></td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <a href="{% url 'create' %}">New Room</a>

</body>

</html>